.aroma-container {
  display: flex;
  align-items: stretch;   /* ensures both columns fill full height */
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 100%;
}
.aroma-details, .aroma-image {
  flex: 1;
  display: flex;
  flex-direction: column;
}



.aroma-image img {
  width: 100%;
  height: 100%;       /* stretch to touch top and bottom border */
  object-fit: cover;  /* fill while keeping aspect ratio */
  display: block;
  border-right: 2px solid black;
}

.aroma-details {
  flex: 1; /* smaller side column */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding-left: 10px;/* title at top, shop row at bottom */
  
}

.aroma-details h2 {

  font-family: Gilroy;
  
   /* no push-down */
}

.shop-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding-left: 50px;
}

.shop-row h3 {
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
}

.ow {
  width: 20px;
  height: auto;
  
}

.aroma-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.aroma-link:hover {
  opacity: 0.8;
}

/* Medium screens */
@media (min-width: 768px) {
  .aroma-image {
    flex: 2;   /* make image take about 70% */
  }
  .aroma-details {
    flex: 1;   /* details 30% */
  }
}

/* Larger screens */
@media (min-width: 1024px) {
  .aroma-details h2 {
    margin: 0 0 20px 0; /* little spacing below title */
  }
}
