.dry-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  /* Helps with responsiveness */
}
.dry-details h2 {
font-style: Regular italic;
font-family: Gilroy;
}
.shop-rows {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 70px; 
  
}

.shop-rows h3 {
font-size: 0.7rem;
font-weight: 400;
white-space: nowrap;
}
.ows {
width: 20px;
height: auto;
color: #555;
}
.dry-image img {
width: 100%;
display: block; /* Adjust as needed */
}
@media (min-width: 768px) {
.dry-details,
  .dry-image {
    flex: 1;
    max-width: 30%;
  }

  .dry-image img {
    width: 170%;
    height: 100%;
    border-right: 2px solid black;
  }
  .shop-rows {
    padding-top: 170px;
    margin-left: 150px;
  }
  .dry-details h2 {
    font-size: 2rem;
    margin-left: 50px;
    margin-top: 50px;

  }
} 
@media (min-width: 1024px) {
    .dry-details h2 {
      margin-top: 0;
      margin-left: 0;
    }


}
