.footer-details p {
  font-family: Gilroy;
  font-size: 1.2rem;
  font-weight: 200;
  color: #555;
}
.mail {
  width: 100%;
  padding: 12px 12px;
  background-color: white;
  font-size: 14px; 
  border: 1px solid #ccc;
  max-width: 400px; 
  box-sizing: border-box;
}
.footer-details button {
width: 100%;
  padding: 12px 12px;
  background-color: black;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-top: 20px;
  color: white;
  max-width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.footer-text h1 {
  font-family: Gilroy;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 20px;
}
.footer-details {
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.footer-text h2 {
  font-family: Gilroy;
  font-size: 1.2rem;
  font-weight: 200;
}
.footer-text h6 {
  font-family: Gilroy;
  font-size: 1rem;
  font-weight: 100;
  margin-top: -7px;
  color: #555;
}
.footer-text {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
.footer-text2 h1 {
  font-family: Gilroy;
  font-size: 1.5rem;
  font-weight: 100;
}
.footer-text2 h5 {
font-family: Gilroy;
font-size: 1rem;
font-weight: 100;
color: #555;
}
.footer-text3 h1 {
  font-family: Gilroy;
  font-size: 1.2rem;
  font-weight: 200;
}
.footer-text3 h5{
  font-family: Gilroy;
  font-size: 1rem;
  font-weight: 100;
  color: #555;
}

@media (min-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
  }
.footer-container > div {
  padding: 20px;
  border-bottom: 2px solid black; 
  }
  .footer-container > div:nth-child(3),
  .footer-container > div:nth-child(4) {
    border-bottom: none;
  }
  .footer-container > div:nth-child(1),
  .footer-container > div:nth-child(3) {
    border-right: 2px solid black;
  }
}
@media (min-width: 1024px) {
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
  }
.footer-container > div {
    padding: 20px;
    border-bottom: none;
    border-right: 2px solid black;
  }
  .footer-container > div:last-child {
    border-right: none;
  }
}

