.fresh-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
}
.fresh-details,
.fresh-image {
  flex: 1;         
  display: flex;      
  flex-direction: column;
}
.fresh-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.shop-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;  
  padding-left: 50px;        
}
.fresh-details h2 {
font-style: Regular italic;
font-family: Gilroy;
}
.shop-row h3 {
font-size: 0.7rem;
 color:  #555;
}
.ow {
width: 20px;
height: auto;
margin-top: 10px;
}
.fresh-image img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}
.fresh-link {
  text-decoration: none;
  color: inherit;       
  display: inline-block;
}
.fresh-link:hover {
  opacity: 0.8;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .fresh-details,
  .fresh-image {
    flex: 1;
    max-width: 50%;
  }

  .fresh-image img {
    width: 100%;
    height: auto;
  }
  
  .fresh-details h2 {
    font-size: 2rem;
    margin-left: 50px;

  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .shop-row {
    margin-top: 0;
  }
}