.main-flex {
  display: block; /* default */
  width: auto;
  height: auto;
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
.main-flex {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.border {
  border: 2px solid black;

}
}
  

