
.navbar ul li a,
.dropdown ul li a,
.dropdown h3 a,
.dropdown h4 a {
  text-decoration: none; 
  color: inherit;          
}
.navbar ul li a:hover,
.dropdown ul li a:hover {
  color: #ff4081; 
}

.top {
  width: 100%;
  background: white;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  position: relative;
  min-height: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1.5rem;
  min-height: 40px;
  height: 100%;
}

.hamburger-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 10px;
}

.hamburger-wrapper::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: 0;
  width: 2px;
  background-color: black;
}

/* Icons */
.hamburger-icon,
.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.icons-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  cursor: pointer;

}

.cart-wrapper .divider {
  width: 2px;
  height: 100%;
  background-color: black;
}
.dropdown {
  padding: 1rem 1.5rem;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  padding: 0.5rem 0;
  font-size: 1.1rem;
}

.cart-dropdown h3,
.cart-dropdown h4,
.cart-dropdown h5 {
  margin: 0.5rem 0;
}

/* Desktop menu */
.desktop-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.desktop-menu {
  display: flex;
  align-items: stretch;
}

.desktop-menu li {
  position: relative;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0 1rem;
  display: flex;
  align-items: center; 
  height: 100%;
}

/* Vertical divider */
.desktop-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;     
  bottom: 0;
  right: 0;
  width: 2px;
  background: black;
}

.left-menu {
  margin-right: auto;
}

.right-menu {
  margin-left: auto;
}
.mobile-only {
  display: flex;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .mobile-only {
    display: none;
  }
.desktop-menu li:not(:last-child)::after {
    height: 43px;
    margin-top: -10px;
  }
  .cart-wrapper {
    display: none;
  }
  .desktop-only {
    display: flex; 
    align-items: center;
  }
  .dropdown {
    display: none; 
  }
.hamburger-wrapper::after {
height: calc(100% + 4px);
top: 0;
}
}


