.cart-container {
width: 100%;
font-family: Gilroy;

}
.cart-items {
display: flex;
flex-direction: column;
gap: 15px;
}
.cart-item {
display: flex;
flex-direction: column;
gap: 10px;
}
.cart-container hr {
  border: none;
  border-top: 1px solid #ddd;
  width: 100%;
  
}
.cart-item-img {
width: 100%;
border-radius: 12px;
object-fit: cover;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cart-item-info {
display: flex;
flex-direction: column; 
margin-top: 8px;
gap: 4px;
}
.item-name {
font-weight: bold;
color: #333;
font-size: 1rem;
}
.quantity-price {
display: flex;
justify-content: space-between; 
align-items: center;
}
.item-quantity {
  color: #555;
  font-size: 0.95rem;
}
.item-price {
  font-weight: bold;
  color: #555;
  font-size: 1rem;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.total-row {
font-weight: bold;
font-size: 1.1rem;
}
.secure-checkout {
display: flex;
justify-content: center; 
align-items: center;
gap: 8px;
margin-top: 50px; 
font-weight: bold;
font-size: 1rem;
}
.lock {
 width: 20px;
height: 20px;
}
.empty-cart {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #777;
}
.summary-divider {
  width: 100%;
  margin-left: 0;
}
.footer-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0 0 0;
  width: 100%;
}
/* Cart.css */

.remove-btn {
  background-color: #ff4d4f; /* red color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;      /* small size */
  font-size: 0.8rem;      /* smaller text */
  cursor: pointer;
  transition: background 0.3s;
  width: 50%;
  margin: 10px auto 0 auto; /* center horizontally */
  display: block;  
  
}

.remove-btn:hover {
  background-color: #e63946; /* darker red on hover */
}



 .payment-btn {
    display: none;
  }
@media screen and (min-width: 768px) and (max-width: 1023px) {
 .payment-btn {
    display: none;
  }
  
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .payment-btn {
  width: 100%;
  padding: 12px;
  background: #333;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 30px 0;
  display: block;
}
.payment-btn:hover {
  background: #555;
}

/* Secure checkout */
.secure-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 50px 0;
  font-size: 0.95rem;
  color: #555;
}
.footer-divider {
    width: 100vw;                   
    position: relative;
    left: 50%;
    transform: translateX(-50%);   
  
  }
  .cart-container {
    border-right: 1px solid #ddd; 
    
  }
}