.follow-div {
  display: block;
}

.hard-div {
  display: none;}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .follow-div {
    display: none;
  }
  .hard-div {
    display: block;
  }
}